%h2 Załóż konto

= semantic_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  = f.inputs do
    = f.input :email, label: 'Adres email', as: :email
    = f.input :password, label: 'Hasło', as: :password
    = f.input :password_confirmation, label: 'Powtórz hasło', as: :password

  = f.buttons do
    = f.commit_button "Załóż konto", button_html: { class: 'button medium brown radius' }

= render partial: "devise/shared/links"
