%ul
  %li= link_to "Zarządzaj rajdami", admin_races_path
  %li= link_to "Zarządzaj danymi w Pigułce"
  %li= link_to "Zarządzaj aktualnościami", admin_posts_path
  %li= link_to "Zarządzaj stronami"
  %li= link_to "Zarządzaj użytkownikami"
