= semantic_form_for @race do |f|
  = f.inputs do
      = f.input :registration_open_from
      = f.input :registration_closed_at
      = f.input :name
      = f.input :description
  
  = f.buttons do
    = f.commit_button
