%h2= "Zapisy na #{@race.name}"
%p
  %b Zapisy otwarte do:
  =l @race.registration_closed_at.to_date, format: :long

%p= @race.description

%table
  - @race.race_variants.each do |variant|
    %tr
      %td= variant.name
      %td= "Zostało: #{variant.left} miejsc"
      %td= link_to "Zapisz się", new_race_race_variant_race_registration_path(@race, variant)
