%h1 Listing race_variants

%table
  %tr
    %th Name
    %th Capacity
    %th Description
    %th
    %th
    %th

  - @race_variants.each do |race_variant|
    %tr
      %td= race_variant.name
      %td= race_variant.capacity
      %td= race_variant.description
      %td= link_to 'Show', race_variant
      %td= link_to 'Edit', edit_race_variant_path(race_variant)
      %td= link_to 'Destroy', race_variant, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Race variant', new_race_variant_path
