%ul.nav.secondary
  %li= link_to "Przegląd", admin_root_path
  %li= link_to "Rajdy", admin_races_path
  %li= link_to "Pigułka"
  %li= link_to "Aktualności"
  %li= link_to "Strony"
  %li= link_to "Użytkownicy"
