%ul.nav.secondary
  %li= link_to "Przegląd", admin_root_path
  %li= link_to "Rajdy", admin_races_path
  %li= link_to "Pigułka"
  %li= link_to "Aktualności", admin_posts_path
  %li= link_to "Strony", admin_pages_path
  %li= link_to "Użytkownicy", admin_users_path
