!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title
      = content_for?(:title) ? yield(:title) : "Halny"
    %link{href: 'http://fonts.googleapis.com/css?family=Signika+Negative:600', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page.container
      #user_bar
        - if user_signed_in?
          Zalogowano
          %b= current_user.email
          \::
          = link_to "Wyloguj się", destroy_user_session_path, :method => :delete
        - else
          = link_to "Rejestracja", new_user_registration_path
          \::
          = link_to "Zaloguj się", new_user_session_path
      %h1.logo
        = link_to root_path do
          = image_tag('logo.png')
          Halny
      %ul.nav
        %li= link_to "Główna", root_path
        %li= link_to "Zapisy", races_path
        %li= link_to "Pigułka"
        - if current_user.present?
          %li= link_to "Konto", edit_settings_path
      - if flash[:notice]
        %p.notice= flash[:notice]
      - if flash[:error]
        %p.error= flash[:error]
      - if flash[:alert]
        %p.alert= flash[:alert]
      .row
        .content.nine.columns= yield
        .side.three.columns
