!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title
      = content_for?(:title) ? yield(:title) : "Halny"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      #user_bar
        - if user_signed_in?
          Zalogowano jako #{current_user.email}. Ktoś inny?
          = link_to "Wyloguj się", destroy_user_session_path, :method => :delete
        - else
          = link_to "Rejestracja", new_user_registration_path
          lub
          = link_to "Zaloguj się", new_user_session_path
      %h1 Halny
      = yield
